{% extends "base.html" %}
{% block title %}О компании{% endblock title %}
{% block header %}О компании{% endblock header %}
{% block content %}
    <section>
        <div>
            <img src = "/media/MC_Logo.jpg" height="100" width="100">
        </div>
        <div>
            <video width="480" height="364" controls>
                <source src="/media/video.mp4" type="video/mp4"/>
            </video>
        </div>
    </section>

    <section>
        <h2>О нас</h2>
        <p>{{about.start}}</p>
    </section>

    <section>
    <h3>Наши преимущества</h3>
        {% for a in advantages %}
            <h4>{{a.header}}</h4>
            <p>{{a.text}}</p>
        {% endfor %}
    </section>
    
    <section>
        <p>{{about.end}}</p>
    </section>

    <iframe width='50%' height='50%' src="{% url 'sertificate' %}"
{% endblock content %}