{% extends "base.html" %}
{% block title %}О компании{% endblock title %}
{% block header %}О компании{% endblock header %}
{% block content %}
    <section>
        <div>
            <img src = "/media/MC_Logo.jpg" height="100" width="100">
        </div>
        <div>
            <video width="480" height="364" controls>
                <source src="/media/video.mp4" type="video/mp4"/>
            </video>
        </div>
    </section>

    <section>
        <h2>О нас</h2>
        <p>{{about.start}}</p>
    </section>

    <section>
    <h3>Наши преимущества</h3>
        {% for a in advantages %}
            <h4>{{a.header}}</h4>
            <p>{{a.text}}</p>
        {% endfor %}
    </section>
    
    <section>
        <p>{{about.end}}</p>
    </section>

    <section>
        <h1>СЕРТИФИКАТ КАЧЕСТВА</h1>

        <p>Настоящим подтверждается, что [Название Больницы] соответствует высшим стандартам медицинского обслуживания и безопасности пациентов. Мы сертифицированы ведущими международными и национальными аккредитационными организациями.</p>

        <h2>Наши достижения:</h2>
        <ul>
            <li><strong>Квалифицированный персонал:</strong> Все наши врачи и медицинский персонал имеют необходимую квалификацию и регулярно проходят повышение квалификации.</li>
            <li><strong>Современное оборудование:</strong> Мы используем новейшие технологии и оборудование для диагностики и лечения.</li>
            <li><strong>Пациентоориентированность:</strong> Мы заботимся о комфорте и безопасности наших пациентов, обеспечивая индивидуальный подход к каждому из них.</li>
            <li><strong>Безопасность и гигиена:</strong> Строгое соблюдение всех санитарно-эпидемиологических норм и стандартов.</li>
        </ul>

        <h2>Наши сертификаты:</h2>
        <ul>
            <li>Сертификат ISO 9001:2015</li>
            <li>Аккредитация Министерства здравоохранения</li>
            <li>Лицензия на медицинскую деятельность</li>
        </ul>

        <p>Мы гордимся доверием наших пациентов и стремимся к постоянному совершенствованию качества предоставляемых услуг.</p>

        <div>
            <p>Автор: [Имя Автора]</p>
            <p>Должность: [Должность Автора]</p>
        </div>
    </section>
{% endblock content %}