{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %}Default{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Pavlovich Vladislav gr.253505"/>
    <meta name="description" content="The best medical center ever"/>
    <meta name="keywords" content="meta, html_lab">
    <link rel="icon" href='/media/siteicon.png' />
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home'%}">Главная</a></li>
                <li>
                    <a href="#">Профиль</a>
                    <ul>
                        <li><a href="{% url 'profile'%}">Аккаунт</a></li>
                        <li><a href="{% url 'cart_detail'%}">Корзина</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'services'%}">Услуги</a></li>
                <li>
                    <a href="#">О компании</a>
                    <ul>
                        <li><a href="{% url 'about' %}">О компании</a></li>
                        <li><a href="{% url 'terms' %}">FAQ</a></li>
                        <li><a href="{% url 'contacts' %}">Контакты</a></li>
                        <li><a href="{% url 'vacancies' %}">Вакансии</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'news' %}">Новости</a></li>     
                <li><a href="{% url 'privacy' %}">Политика конфиденциальности</a></li>
                <li><a href="{% url 'reviews' %}">Отзывы</a></li>
                <li><a href="{% url 'coupons' %}">Купоны</a></li>
                <li><a href="{% url 'jokes' %}">Анекдоты</a></li>
                <li><a href="{% url 'test' %}">Тест функций</a></li>
                {% if request.user.is_superuser %}
                <li>
                    <a href="#">Администрирование</a>
                    <ul>
                        <li><a href="{% url 'admin:index' %}">Админка</a></li>
                        <li><a href="{% url 'statistics' %}">Статистика</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </nav>
        <div>
            <h1>{% block header %}Default {% endblock header %}</h1>
        </div>
    </header>

    <main>
        {% block content %}Default {% endblock content %}
    </main>

    <footer>
        MedicalCenter 2024. All rights reserved.
    </footer>
</body>
</html>