{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %}Default{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Pavlovich Vladislav gr.253505"/>
    <meta name="description" content="The best medical center ever"/>
    <meta name="keywords" content="meta, html_lab">
    <link rel="icon" href='/media/siteicon.png' />
    <link rel="stylesheet" type="text/css" href="{% static 'baseStyles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'listStyles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'formStyles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'loader.css' %}">
    {% block styles %}{% endblock styles %}
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home'%}" class='nav-item'>Главная</a></li>
                <li>
                    <a href="#" class='nav-item'>Профиль</a>
                    <ul>
                        <li><a href="{% url 'profile'%}" class='nav-item'>Аккаунт</a></li>
                        <li><a href="{% url 'cart_detail'%}" class='nav-item'>Корзина</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'services'%}" class='nav-item'>Услуги</a></li>
                <li>
                    <a href="#" class='nav-item'>О компании</a>
                    <ul>
                        <li><a href="{% url 'about' %}" class='nav-item'>О компании</a></li>
                        <li><a href="{% url 'terms' %}" class='nav-item'>FAQ</a></li>
                        <li><a href="{% url 'contacts' %}" class='nav-item'>Контакты</a></li>
                        <li><a href="{% url 'vacancies' %}" class='nav-item'>Вакансии</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'news' %}" class='nav-item'>Новости</a></li>     
                <li><a href="{% url 'privacy' %}" class='nav-item'>Политика конфиденциальности</a></li>
                <li><a href="{% url 'reviews' %}" class='nav-item'>Отзывы</a></li>
                <li><a href="{% url 'coupons' %}" class='nav-item'>Купоны</a></li>
                <li><a href="{% url 'jokes' %}" class='nav-item'>Анекдоты</a></li>
                <li><a href="{% url 'test' %}" class='nav-item'>Тест функций</a></li>
                {% if request.user.is_superuser %}
                <li>
                    <a href="#" class='nav-item'>Администрирование</a>
                    <ul>
                        <li><a href="{% url 'admin:index' %}" class='nav-item'>Админка</a></li>
                        <li><a href="{% url 'statistics' %}" class='nav-item'>Статистика</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </nav>
        <div>
            <h1>{% block header %}Default {% endblock header %}</h1>
        </div>
    </header>

    <main>
        {% block content %}Default {% endblock content %}
    </main>

    <footer>
        HealthWell 2024. All rights reserved.
    </footer>
</body>
</html>