{% extends "base.html" %}
{% block title %}Информация о клиенте{% endblock title %}
{% block header %}Информация о клиенте{% endblock header %}
{% block content %}
    <ul>
        <li>
            <img src="{{client.image.url}}" height="200" width="150">
        </li>
        <li>
            <label>Фамилия:</label>
            <label>{{client.surname}}</label>
        </li>
        <li>
            <label>Имя:</label>
            <label>{{client.name}}</label>
        </li>
        <li>
            <label>Отчество:</label>
            <label>{{client.second_name}}</label>
        </li>
        <li>
            <label>Элекронная почта:</label>
            <label>{{client.email}}</label>
        </li>
        <li>
            <label>Адрес:</label>
            <label>{{client.adress}}</label>
        </li>
        <li>
            <label>Номер телефона:</label>
            <label>{{client.phone_number}}</label>
        </li>
        <li>
            <label>Дата рождения:</label>
            <time datetime="{{client.birth_date}}">{{client.birth_date}}</time>
        </li>
        <a href="{% url 'client_diagnosises' client_id=client.pk %}">
            <li>Просмотреть диагнозы</li>
        </a>
    </ul>
{% endblock content %}