{% extends "base.html" %}
{% block title %}Контакты{% endblock title %}
{% block header %}Контакты{% endblock header %}
{% block content %}
    {% for d in doctors %}
        <section>
            <h2>{{d.surname}} {{d.name}} {{d.second_name}}</h2>
            <table width = "100%">
                <tr>
                    <td>
                        <img src = "{{d.image.url}}" height = "200" width = "150" class="leftimg">
                        <p>Дата рождения: {{d.birth_date}}</p>
                        <p>Телефон: {{d.phone_number}}</p>
                        <p>Элекронная почта: {{d.email}}</p>
                        <p>Специальность: {{d.specialization.name}}</p>
                    </td>
                </tr>
            </table>
        </section>
    {% endfor %}
{% endblock content %}