{% extends "base.html" %}
{% block title %}Купоны{% endblock title %}
{% block header %}Купоны{% endblock header %}
{% block content %}
    <section class='list-section'>
        <h3>Актуальные купоны:</h3>
        <ul>
            {% for a in actual %}
                <li>{{a.coupon}} - {{a.name}}</li>
            {% endfor %}
        </ul>
    </section>

    <section class='list-section'>
        <h3>Архив:</h3>
        <ul>
            {% for a in archive %}
                <li>{{a.coupon}} - {{a.name}}</li>
            {% endfor %}
        <ul>
    </section>
{% endblock content %}