{% extends "base.html" %}
{% load static %} 
{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'Animation.css' %}">{% endblock styles %}
{% block title %}Главная{% endblock title %}
{% block header %}Главная{% endblock header %}
{% block content %}
{% load tz %}
    <figure>
        <p><img src = "/media/MC_Logo.jpg" height="100" width="100"></p>
        <figcaption>HealthWell</figcaption>
    </figure>
    
    <svg class="anim-container">
        <path
            class="anim-ground"
            d="M 0,280 l 500,0 l 0,120 l -500,0 l 0,-120 Z"
        />

        <path
            class="anim-man-nok"
            d="
            M 80,270 l 0,-18
            M 80,255 l -7,16
            M 80,252 A 6,6 0 0,0 80,240 A 6,6 0 0,0 80,252 z"
        />

        <path 
            class="anim-stroke-hand" 
            d="
                M 80,255 l 16,7
                M 96,262 l 0, 22"/>
        <path class="anim-left-leg-nok" d="M 80,270 l -8,16" />
        <path class="anim-right-leg-nok" d="M 80,270 l 8,16" />

        <path
            class="anim-man-ok"
            d="
            M 310,270 l 0,-18
            M 310,255 l -7,16
            M 310,255 l 7,16
            M 310,252 A 6,6 0 0,0 310,240 A 6,6 0 0,0 310,252 z"
        />

        <path class="anim-left-leg-ok" d="M 310,270 l -8,16" />
        <path class="anim-right-leg-ok" d="M 310,270 l 8,16" />

        <path
            class="anim-house"
            d="M 175,290 l 150,0 l 0,-100 l -150,0 l 0,100 Z"
        />

        <path class="anim-roof" d="M 155,190 l 190,0 l -95,-60 Z" />

        <image x='225' y='210' href="{% static 'animationImages/window.png'%}" class="anim-window" />
        <image x='235' y='150' href="{% static 'animationImages/med-cross.png'%}" class="anim-cross" />

        <image x='220' y='230' href="/media/MC_Logo.jpg" class='anim-logo'/>
    </svg>
    
    <section class="flex-container">
        <section class="banners-section">
            <h2>Баннеры</h2>
            <div class="banners-container">
                <img src="media/adv_banner1.jpg" alt="Баннер 1" class="banner-item">
                <img src="media/adv_banner2.jpg" alt="Баннер 2" class="banner-item">
                <img src="media/adv_banner3.jpg" alt="Баннер 3" class="banner-item">
                <img src="media/adv_banner4.jpg" alt="Баннер 4" class="banner-item">
            </div>
        </section>

        <section class="partners-section">
            <h2>Наши Партнеры</h2>
            <ul class="partners-list">
                <li class="partner-item"><a class="partner-link" href="https://www.invitro.ru" target="_blank">Лаборатория «Инвитро»</a></li>
                <li class="partner-item"><a class="partner-link" href="https://www.pfizer.com" target="_blank">Фармкомпания «Pfizer»</a></li>
                <li class="partner-item"><a class="partner-link" href="https://www.sechenov.ru" target="_blank">Медицинский университет имени Сеченова</a></li>
                <li class="partner-item"><a class="partner-link" href="https://www.philips.ru/healthcare" target="_blank">Медицинское оборудование «Philips Healthcare»</a></li>
                <li class="partner-item"><a class="partner-link" href="https://www.366.ru" target="_blank">Аптека «36.6»</a></li>
                <li class="partner-item"><a class="partner-link" href="https://www.dr-r.ru" target="_blank">Клиника «Доктор Рядом»</a></li>
                <li class="partner-item"><a class="partner-link" href="https://www.podari-zhizn.ru" target="_blank">Благотворительный фонд «Подари жизнь»</a></li>
                <li class="partner-item"><a class="partner-link" href="https://www.gemotest.ru" target="_blank">Центр диагностики «Гемотест»</a></li>
                <li class="partner-item"><a class="partner-link" href="https://www.vtbins.ru" target="_blank">Медицинская страховая компания «ВТБ Страхование»</a></li>
            </ul>
        </section>
    </section>

    <section class="index_new_section"> 
        <h2>{{ln.title}}</h2> 
        <div class="index_new_container">
          <img src="{{ln.url}}" height="182" width="325" class="index_new_image" alt="News Image"> 
          <div class="index_new_content">
            <p class="index_new_description">{{ln.description}}</p> 
            <a href='{% url 'new' id=ln.pk %}' target="_blank"> 
              <p>Читать далее</p> 
            </a>
          </div>
        </div>
    </section>

    <div class="loader"></div>

    <section>
        <h2>{{date}}</h2>
        {% get_current_timezone as TIME_ZONE %}
	    <p>Ваша временая зона: {{TIME_ZONE}}+3</p>
    </section>
{% endblock content %}