{% extends "base.html" %}
{% block title %}Новости{% endblock title %}
{% block header %}Новости{% endblock header %}
{% block content %}
    {% for n in news %}
        <article itemscope itemtype="http://schema.org/NewsArticle">
            <h2 itemprop="name">{{n.title}}</h2>
            <table width = "100%">
                <tr>
                    <td>
                        <p>
                            <img itemprop="image" src = "{{n.url}}" height = "182" width = "325" class="leftimg">
                            {{n.description}}
                        </p>
                        <a itemprop="url" href="{% url 'new' id=n.pk %}" target="_blank">
                            <p>Читать далее</p>
                        </a>
                    </td>
                </tr>
            </table>
        </article>
    {% endfor %}
{% endblock content %}