{% extends "base.html" %}
{% load static %} 
{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'newsStyles.css' %}">{% endblock styles %}
{% block title %}Новости{% endblock title %}
{% block header %}Новости{% endblock header %}
{% block content %}
    <article class="news-container" itemscope itemtype="http://schema.org/NewsArticle">
        {% for n in news %}
            <article class="news-card">
                <img itemprop="image" src = "{{n.url}}" alt="News Image">
                <h2 itemprop="name">{{n.title}}</h2>
                <p itemprop="description">{{n.description}}</p>
                <a itemprop="url" href="{% url 'new' id=n.pk %}" target="_blank" class="read-more">Читать далее</a>
            </article>
        {% endfor %}
    </article>
{% endblock content %}