<!DOCTYPE html>
<html>
<head>
    <title>Новости</title>
    <meta charset="utf-8" />
    <style>
        .leftimg {
            float:left;
            margin: 7px 7px 7px 0;
           }
    </style>
</head>
<body>
    {% for n in news %}
        <h2>{{n.title}}</h2>
        <table width = "100%">
            <tr>
                <p>
                    <img src = "{{n.image.url}}" height = "182" width = "325" class="leftimg">
                    {{n.description}}
                </p>
                <a href="{{n.url}}">
                    <p>Читать далее</p>
                </a>
            </tr>
        </table>
    {% endfor %}
</body>
</html>