<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <div class="reg-form">
        <h2>Login to your account</h2>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" title="username" placeholder="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" title="password" placeholder="password" required>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" title="email" placeholder="email">

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" title="name" placeholder="name">

        <label for="surname">Surname:</label>
        <input type="text" id="surname" name="surname" title="surname" placeholder="surname">

        <label for="second_name">Second Name:</label>
        <input type="text" id="second_name" name="second_name" title="second_name" placeholder="second_name">

        <label for="age">BirthDate:</label>
        <input type="date" id="birth_date" name="birth_date" title="birth_date" placeholder="birth_date">

        <label for="phone_number">Phone Number:</label>
        <input type="text" id="phone_number" name="phone_number" title="phone number" placeholder="phone number">

        <label for="address">Address:</label>
        <input type="text" id="address" name="address" title="address" placeholder="address">

        <button type="submit" class="btn">Register</button>
        <a class="forgot" href="#">Forgot Username?</a>
        </div>
    </form>
</body>
</html>