<!DOCTYPE html>
<html>
<head>
    <title>Отзывы</title>
    <meta charset="utf-8" />
</head>
<body>
    <ul>
        {% for review in reviews %}
            <li>
                <ul>
                    <li> 
                        <label>{{review.sender}}</label>
                        <label>{{review.mark}} stars</label>
                        <label>{{review.date}}</label>
                    </li>
                    <li>
                        <label>{{review.text}}</label>
                    </li>
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
</html>