{% extends "base.html" %}
{% block title %}Тест{% endblock title %}
{% block header %}Тест{% endblock header %}
{% block content %}
    <nav>
        <a href="#code">Листинг</a> |
        <a href="#abbr">Сокращение</a> |
        <a href="#dfn">Определение</a> |
        <a href="#blockquote">Цитата</a> |
        <a href="#table">Таблица</a> |
        <a href="#dlink">Ссылка для скачивания</a> |
        <a href="#pre">Тэг pre</a> |
        <a href="#wbr">Тэг wbr</a> |
        <a href="#inputs">Инпуты</a>
    </nav>

    <section id="code">
        <h2>Листинг</h2>
        <code>
            #include "iostream"

            int main(){
                std::cout << "Hello, World!";
                return 0;
            }
        </code>
    </section>
    <hr>

    <section id="abbr">
        <h2>Сокращение</h2>
        <abbr title="HyperText Markup Language">HTML</abbr>
    </section>
    <hr>

    <section id="dfn">
        <h2>Определение</h2>
        <p><dfn title="Hypertext Markup Language">HTML</dfn> - это код, который используется для структурирования и отображения веб-страницы и её контента.</p>
    </section>
    <hr>

    <section id="blockquote">
        <h2>Цитата</h2>
        <blockquote>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
            sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat 
            volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullamcorper 
            suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </blockquote>
         Автор Цитаты
    </section>
    <hr>

    <section id="table">
        <h2>Пример таблицы</h2>
        <table border="1" cellpadding="10" cellspacing="0">
            <thead>
                <tr>
                    <th width="40" >Заголовок 1</th>
                    <th  colspan="4" >Заголовок 2</th>
                    <th>Заголовок 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>a</td>
                    <td>1</td>
                    <td>b</td>
                    <td>2</td>
                    <td>c</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>d</td>
                    <td>4</td>
                    <td>e</td>
                    <td>5</td>
                    <td>f</td>
                    <td>6</td>
                </tr>
                <tr height="100" bgcolor="green" bordercolor="red">
                    <td>a</td>
                    <td>h</td>
                    <td colspan="2" rowspan="1" align="center">Объединенная ячейка</td>
                    <td>g</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>2</td>
                    <td>g</td>
                    <td>e</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>g</td>
                    <td>s</td>
                    <td>a</td>
                    <td>q</td>
                    <td>n</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>n</td>
                    <td>a</td>
                    <td>l</td>
                    <td>3</td>
                    <td>q</td>
                </tr>
            </tbody>
        </table>    
    </section>
    <hr>

    <section id="dlink">
        <h2>Пример ссылки для скачивания файла</h2>  
        <a href="/media/MC_Logo.jpg" download>Скачать файл</a>
    </section>
    <hr>

    <section id="pre">
        <h2>Пример предварительно форматированного текста</h2>
        <pre>
            Жизнь — это река,
            Течёт и бежит.
            Не видно конца
            В пучине дарит.
        </pre>
    </section>
    <hr>

    <section id="wbr">
        <h2>Пример ожидаемого переноса</h2>
        <p dir="rtl">
            метоксихлор<wbr>диэтиламино<wbr>метил<wbr>бутил<wbr>амино<wbr>акридин
        </p>
    </section>

    <section id="inputs">
        <p><input type="text"/></p>
        <p><input type="password"/></p>
        <p><input type="radio"/></p>
        <p><input type="button"/></p>
        <p><input type="email"/></p>
        <p><input type="file"/></p>
        <p><input type="hidden"/></p>
        <p><input type="date"/></p>
    </section>
{% endblock content %}