{% extends "base.html" %}
{% block title %}Тест{% endblock title %}
{% block header %}Тест{% endblock header %}
{% block content %}
    <section>
        <h2>Листинг</h2>
        <listing>
            #include "iostream"

            int main(){
                std::cout << "Hello, World!";
                return 0;
            }
        </listing>
    </section>
    <hr>

    <section>
        <h2>Сокращение</h2>
        <abbr title="HyperText Markup Language">HTML</abbr>
    </section>
    <hr>

    <section>
        <h2>Определение</h2>
        <p><dfn>HTML (Hypertext Markup Language)</dfn> - это код, который используется для структурирования и отображения веб-страницы и её контента.</p>
    </section>
    <hr>

    <section>
        <h2>Цитата</h2>
        <blockquote>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
            sed diem nonummy nibh euismod tincidunt ut lacreet dolore magna aliguam erat 
            volutpat. Ut wisis enim ad minim veniam, quis nostrud exerci tution ullamcorper 
            suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </blockquote>
         Автор Цитаты
    </section>
    <hr>

    <section>
        <h2>Пример таблицы</h2>
        <table border="1" cellpadding="10" cellspacing="0">
            <thead>
                <tr>
                    <th width="40" >Заголовок 1</th>
                    <th  colspan="4" >Заголовок 2</th>
                    <th>Заголовок 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>a</td>
                    <td>1</td>
                    <td>b</td>
                    <td>2</td>
                    <td>c</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>d</td>
                    <td>4</td>
                    <td>e</td>
                    <td>5</td>
                    <td>f</td>
                    <td>6</td>
                </tr>
                <tr height="100" bgcolor="green" bordercolor="red">
                    <td></td>
                    <td></td>
                    <td colspan="2" rowspan="1" align="center">Объединенная ячейка</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>    
    </section>
    <hr>

    <section>
        <h2>Пример ссылки для скачивания файла</h2>  
        <a href="/media/MC_Logo.jpg" download>Скачать файл</a>
    </section>
    <hr>

    <section>
        <pre>
            Жизнь — это река,
            Течёт и бежит.
            Не видно конца
            В пучине дарит.
        </pre>

        <p>Это строка с потенциальным переводом строки в середине. И <wbr> какой-то текст для заполнения строки.</p>
    </section>
{% endblock content %}