{% extends "base.html" %}
{% load static %} 
{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'contactsStyles.css' %}">{% endblock styles %}
{% block title %}Вакансии{% endblock title %}
{% block header %}Вакансии{% endblock header %}
{% block content %}
    <ul class="vacancy-list">
        {% for v in vacancies %}
            <li class="vacancy-item">
                <h2 class>{{ v.name }}</h2>
                <p class>{{ v.description }}</p>
                <h3 class>Требования:</h3>
                <p class>{{ v.requirements }}</p>
                <p class>Зарплата: {{ v.salary }} BYN</p>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}