<!DOCTYPE html>
<html>
<head>
    <title>Специализации докторов</title>
    <meta charset="utf-8" />
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <ul>
            {% for s in services %}
                    <li>
                        <label>{{s.name}}</label>
                        <label>{{s.price}} BYN</label>
                        {% if user.is_authenticated %}
                            <a href="{% url 'appointment' service_id=s.pk %}">
                                <button type="button" name="appointment" value="{{s.pk}}">Записаться</label>
                            </a>
                        {% endif %}
                    </li>
            {% endfor %}
        </ul>
    </form>
</body>
</html>