{% extends "base.html" %}
{% block title %}Специализации докторов{% endblock title %}
{% block header %}Специализации докторов{% endblock header %}
{% block content %}
    <div class='list-section'>
        <ul>
            {% for s in specializations %}
                <a href="{% url 'service_details' id=s.pk %}">
                    <li>
                        <label>{{s.name}}</label>
                    </li>
                </a>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}