{% extends "base.html" %}
{% block title %}Услуги{% endblock title %}
{% block header %}Услуги{% endblock header %}
{% block content %}
    <form method="GET" action="">
        <select name="sort_by" onchange="this.form.submit()">
            <option value="name" {% if request.GET.sort_by == 'name' %}selected{% endif %}>По имени</option>
            <option value="price" {% if request.GET.sort_by == 'price' %}selected{% endif %}>По цене</option>
        </select>
    </form>
    <form method="post">
        {% csrf_token %}
        <ul>
            {% for s in services %}
                    <li>
                        <label>{{s.name}}</label>
                        <label>{{s.price}} BYN</label>
                        {% if not doctor %}
                            <button type="submit" name="appointment" value="{{s.pk}}">Записаться</label>
                        {% endif %}
                    </li>
            {% endfor %}
        </ul>
    </form>
{% endblock content %}