{% extends "base.html" %}
{% block title %}Информация об услуге{% endblock title %}
{% block header %}Информация об услуге{% endblock header %}
{% block content %}
    <article class='form-container list-section'>
        <section>
            <h1>{{service.name}}</h1>
            <h2>{{service.price}}BYN</h2>
        </section>

        <section>
            <form action="{% url 'cart_add' service.pk %}" method="post">
                {{ form }}
                {% csrf_token %}
                <input type="submit" class='button' value="Добавить в корзину"/>
            </form>
        </section>

        <section>
            <h2>Возможные врачи:</h2>
            <ul>
                {% for d in doctors %}
                    <a href='{% url 'doctor_info' id=d.pk %}'>
                        <li>
                            <img src="{{d.image.url}}"/>
                            {{d.surname}} {{d.name}} {{d.second_name}}
                        </li>
                    </a>
                {% endfor %}
            </ul>
        </section>
    </article>
{% endblock content %}