<!DOCTYPE html>
<html>
<head>
    <title>Запись</title>
    <meta charset="utf-8" />
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <label>{{service.name}}</label>
        <label>{{service.price}} BYN</label>        
        {{ form.as_p}}
        {% if not timeok %}
            <p>На данное время уже есть запись</p>
        {% endif %}
        <p>
            <label>Time:</label>
            <select name="time">
                {% for t in time %}
                    <option value="{{t}}">{{t}}</option>
                {% endfor %}
            </select>
        </p>
        <button type="submit">Записаться</button>
    </form>
</body>
</html>