.reviews-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--color-secondary-background); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.reviews-list {
    list-style-type: none;
    padding: 0;
}

.review-item {
    background-color: var(--color-main-background); 
    border: 1px solid #3D9970; 
    border-radius: 8px; 
    padding: 15px; 
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
}

.review-item:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); 
    transform: scale(1.05);
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-sender {
    font-weight: bold;
    color: var(--color-text);
    margin-right: auto;
}

.review-mark {
    color: #FFD700;
    margin-left: auto; 
}

.review-date {
    font-size: 0.9em;
    color: #999;
    margin-left: 15px; 
}

.review-text {
    margin-top: 10px;
}

.review-text p {
    margin: 0;
    line-height: 1.6;
    color: var(--color-text);
}
