{% extends "base.html" %}
{% block title %}Статистика по пользователям{% endblock title %}
{% block header %}Статистика по пользователям{% endblock header %}
{% block content %}
    <ul>
        {% for d in data %}
            <li>
                <p>Пользователь: {{d.0.surname}} {{d.0.name}} {{d.0.second_name}}</p>
                <p>Активные заказы на сумму: {{d.1}} BYN</p>
                <p>Завершенные заказы на сумму: {{d.2}} BYN</p>
                <p>Итого: {{d.3}} BYN</p>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}