{% extends "base.html" %}
{% block title %}Статистика{% endblock title %}
{% block header %}Статистика{% endblock header %}
{% block content %}
    <ul>
        <li>Заработано: {{recieved}} BYN</li>
        <li>Общая цена невыполненных записей: {{not_recieved}} BYN</li>
        <li>Итоговая выручка: {{total}} BYN</li>
        <li>
            <a href="{% url 'age_statistics' %}">Статистика пользователей по возрастам</a>
        </li>
        <li>
            <a href="{% url 'by_user_stats' %}">Статистика выручки по пользователям</a>
        </li>
    </ul>
{% endblock content %}