{% extends "base.html" %}
{% block title %}Статистика{% endblock title %}
{% block header %}Статистика{% endblock header %}
{% block content %}
    <ul>
        <li>Заработано: {{recieved}} BYN</li>
        <li>Общая цена невыполненных записей: {{not_recieved}} BYN</li>
        <li>Итоговая выручка: {{total}} BYN</li>
        <a href="{% url 'age_statistics' %}"><li>Статистика пользователей по возрастам</li></a>
        <a href="{% url 'by_user_stats' %}"><li>Статистика выручки по пользователям</li></a>
    </ul>
{% endblock content %}