{% extends "base.html" %}
{% block title %}Записи{% endblock title %}
{% block header %}Записи{% endblock header %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <ul>
            {% for a in appointments %}
                {% if a.is_active %}
                    <li>
                        <label>{{a.date}}</label>
                        <label>{{a.time.hour}}:{{a.time.minute}}{%if a.time.minute is 0 %}{{a.time.minute}}{% endif %}</label>
                        <label>{{a.service.name}}</label>
                        <label>{{a.service.price}}</label>
                        {% if doctor %}
                            <a href="{% url 'client_info' id=a.client.pk %}">
                                <label>Пациент</label>
                            </a>
                            <button type="submit" name="close" value="{{a.pk}}">Закрыть запись</button>
                        {% else %}
                            <a href="{% url 'doctor_info' id=a.doctor.pk %}">
                                <label>Доктор</label>
                            </a>
                            <button type="submit" name="del_button" value="{{a.pk}}">Отменить запись</button>
                        {% endif %}
                    </li>
                {% endif %}       
            {% endfor %}
        </ul>
    </form>
{% endblock content %}