<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Диагнозы</title>
</head>
<body>
    <ul>
        <li>
            <label>Фамилия:</label>
            <label>{{client.surname}}</label>
        </li>
        <li>
            <label>Имя:</label>
            <label>{{client.name}}</label>
        </li>
        <li>
            <label>Отчество:</label>
            <label>{{client.second_name}}</label>
        </li>
        <li>
            <label>Дата рождения:</label>
            <time datetime="{{client.birth_date}}">{{client.birth_date}}</time>
        </li>
        <li>Диагнозы:</li>
        <li><ul>
        {% for d in diagnosises%}
            <li><label>{{d.name}}</label></li>
            <li>
                <label>Поставлен:</label>
                <time datetime="{{d.setting_date}}">{{d.setting_date}}</time>
            <li>
            <a href="{% url 'doctor_info' id=d.doctor.pk %}">
                <label>Поставил: {{d.doctor.surname}} {{d.doctor.name}} {{d.doctor.second_name}}</label>
            </a>
            <li></li>
        {% endfor %}
        </ul></li>
    </ul>
</body>
</html>